body *,
html,
body {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
}

.nav {
  width: 100%;
  height: 75px;
  min-height: 75px;
  background-color: #fff;
  display: flex;
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #dfdfdf;
}

.hero {
  min-height: 80vh;
  height: 100%;
  position: relative;
  padding-bottom: 5rem;
  padding-top: 30px;
}

.btn-success,
.btn-success:hover {
  background-color: #15b763;
  border-color: #15b763;
}

.btn-primary {
  background-color: #006aff;
  border-color: #006aff;
}
.form {
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
}

input {
  border: 0;
  height: 48px;
  font-size: 15px;
  padding-left: 44px;
  color: #1e232c;
  border: solid 1px #c5cee0;
  border-radius: 4px;
  background-size: 20px 20px;
  background-position: 12px 13px;
  background-repeat: no-repeat;
  width: 100%;
}

.footer {
  background: #fbfbfb;
  min-height: 70px;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #f3f3f3;
  align-items: center;
}

.destinatario,
.assunto {
  padding: 0.65rem 0;
  font-size: 0.875rem;
  border-bottom: 1px solid gainsboro;
}

.mensagem {
  font-size: 0.875rem;
  padding: 1rem 0;
  color: #5f6879;
}

.destinatario,
.assunto {
  color: #5f6879;
}

.destinatario span,
.assunto span {
  color: #777;
  font-weight: 600;
}

.header-email {
  background: #333a46;
  padding: 0.85rem 1rem;
  border-radius: 5px 5px 0 0;
  margin-top: 2rem;
  color: #fff;
}

.card-email {
  border: 1px solid #e0e1e2;
  padding: 0.35rem 1.5rem 1.5rem;
  background: #fff;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 20px 20px -15px rgba(11, 12, 16, 0.2);
}

.gallery-body {
  overflow-y: scroll;
  height: 350px;
}

.avatar {
  width: 100%;
  max-width: 100%;
  padding: 0.65rem 0;
}

.gallery-header {
  padding: 0 .85rem .85rem;
}